# Day 006

將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [2]:
import os
import numpy as np
import pandas as pd

In [74]:
# 設定 data_path
dir_data = 'D:\shiang\MyCode\Github\data\HW006'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

In [47]:
print(type(app_train.dtypes.head()))
print(type(app_train))
print(type(app_train.dtypes))
print(type(app_train.dtypes.value_counts()))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [49]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [44]:
### 選取 dtype = object or int64 的 column
app_train.select_dtypes(include=["object",'int64'])

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,Cash loans,M,N,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,Family,State servant,Higher education,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
5,100008,0,Cash loans,M,N,Y,0,"Spouse, partner",State servant,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
6,100009,0,Cash loans,F,Y,Y,1,Unaccompanied,Commercial associate,Higher education,...,0,0,1,0,0,0,0,0,0,0
7,100010,0,Cash loans,M,Y,Y,0,Unaccompanied,State servant,Higher education,...,0,0,0,0,0,0,0,0,0,0
8,100011,0,Cash loans,F,N,Y,0,Children,Pensioner,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
9,100012,0,Revolving loans,M,N,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
10,100014,0,Cash loans,F,N,Y,1,Unaccompanied,Working,Higher education,...,0,0,0,0,0,0,0,0,0,0
11,100015,0,Cash loans,F,N,Y,0,Children,Pensioner,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
12,100016,0,Cash loans,F,N,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
13,100017,0,Cash loans,M,Y,N,1,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
14,100018,0,Cash loans,F,N,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
15,100019,0,Cash loans,M,Y,Y,0,Family,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
16,100020,0,Cash loans,M,N,N,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
17,100021,0,Revolving loans,F,N,Y,1,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
18,100022,0,Revolving loans,F,N,Y,0,Other_A,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
19,100023,0,Cash loans,F,N,Y,1,Unaccompanied,State servant,Higher education,...,0,0,0,0,0,0,0,0,0,0
20,100024,0,Revolving loans,M,Y,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
21,100025,0,Cash loans,F,Y,Y,1,Unaccompanied,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
22,100026,0,Cash loans,F,N,N,1,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
23,100027,0,Cash loans,F,N,Y,0,Unaccompanied,Pensioner,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
24,100029,0,Cash loans,M,Y,N,2,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
25,100030,0,Cash loans,F,N,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
26,100031,1,Cash loans,F,N,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,1,0,0,0,0,0
27,100032,0,Cash loans,M,N,Y,1,Family,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
28,100033,0,Cash loans,M,Y,Y,0,Unaccompanied,State servant,Higher education,...,0,0,0,0,0,0,0,0,0,0
29,100034,0,Revolving loans,M,N,Y,0,Unaccompanied,Working,Higher education,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,Cash loans,M,N,Y,0,Family,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307482,456226,0,Cash loans,F,Y,Y,0,Unaccompanied,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307483,456227,0,Cash loans,F,N,Y,0,Unaccompanied,Pensioner,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307484,456228,0,Cash loans,F,Y,N,0,Unaccompanied,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307485,456229,0,Revolving loans,F,N,Y,1,Family,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307486,456230,0,Cash loans,F,Y,Y,1,Unaccompanied,Commercial associate,Higher education,...,0,0,0,0,0,0,0,0,0,0
307487,456231,0,Cash loans,M,N,Y,0,Unaccompanied,Pensioner,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307488,456232,0,Cash loans,F,N,N,0,Unaccompanied,State servant,Higher education,...,0,0,0,0,0,0,0,0,0,0
307489,456233,1,Cash loans,F,N,Y,0,Unaccompanied,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307490,456234,0,Cash loans,M,N,Y,0,Unaccompanied,Commercial associate,Higher education,...,0,0,0,0,0,0,0,0,0,0
307491,456235,0,Cash loans,M,Y,Y,2,Unaccompanied,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307492,456236,0,Cash loans,M,Y,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307493,456237,0,Cash loans,F,N,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307494,456238,0,Cash loans,M,Y,N,1,Family,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307495,456239,0,Cash loans,M,Y,N,0,Unaccompanied,Working,Higher education,...,0,0,0,0,0,0,0,0,0,0
307496,456240,0,Revolving loans,F,N,N,0,Family,Working,Higher education,...,0,0,0,0,0,0,0,0,0,0
307497,456241,0,Cash loans,F,Y,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307498,456242,0,Cash loans,M,Y,Y,0,Unaccompanied,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307499,456243,0,Cash loans,F,N,Y,0,Unaccompanied,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307500,456244,0,Cash loans,F,N,Y,0,Unaccompanied,Working,Higher education,...,0,0,0,0,0,0,0,0,0,0
307501,456245,0,Cash loans,F,N,Y,3,Unaccompanied,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307502,456246,0,Cash loans,F,N,Y,1,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307503,456247,0,Cash loans,F,N,Y,0,Unaccompanied,Commercial associate,Higher education,...,0,0,0,0,0,0,0,0,0,0
307504,456248,0,Cash loans,F,N,Y,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307505,456249,0,Cash loans,F,N,Y,0,Unaccompanied,Pensioner,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307506,456251,0,Cash loans,M,N,N,0,Unaccompanied,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307507,456252,0,Cash loans,F,N,Y,0,Unaccompanied,Pensioner,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307508,456253,0,Cash loans,F,N,Y,0,Unaccompanied,Working,Higher education,...,0,0,0,0,0,0,0,0,0,0
307509,456254,1,Cash loans,F,N,Y,0,Unaccompanied,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307510,456255,0,Cash loans,F,N,N,0,Unaccompanied,Commercial associate,Higher education,...,0,0,0,0,0,0,0,0,0,0

In [50]:
### 檢視資料中類別型欄位各自類別的數量
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique,axis=0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

### Label encoding

####

In [51]:
from sklearn.preprocessing import LabelEncoder

In [75]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0
le_col = []

# Iterate through the columns
# only encode column which has less than 2 catogery
for col in app_train:
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            # record encoded column name
            le_col.append(col)
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

3 columns were label encoded.

#### 符合條件之欄位 Encode 後的結果

In [80]:
print(app_train[le_col].head())

   NAME_CONTRACT_TYPE  FLAG_OWN_CAR  FLAG_OWN_REALTY
0                   0             0                1
1                   0             0                0
2                   1             1                1
3                   0             0                1
4                   0             0                1

### One Hot Encoding

In [ ]:
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

#### one hot encoding 後被 encode 的欄位依照 catogory 個數被分割成多個欄位如 CODE_GENDER 欄位共有 F、M 兩個種類，因此被分割成 CODE_GENDER_F、CODE_GENDER_M 兩欄，且各欄的直接為 0 or 1

In [81]:
print(app_train['CODE_GENDER_F'].head())
print(app_train['CODE_GENDER_M'].head())
print(app_train['NAME_EDUCATION_TYPE_Academic degree'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    1
1    0
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: uint8

## HW 
### 將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [88]:
app_train = pd.read_csv(f_app_train)
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

### Ans

In [93]:
sub_train_OneHotEncode = pd.get_dummies(sub_train)
sub_train_OneHotEncode.head()

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0